/* Style the page. */
/* Display a character of your choice on the screen to represent your pet */

/* #4979b
#00755e
#c6e2ff
#063852
#f0810f
#efdab1 */
body {
    font-family: 'Baloo Chettan', cursive;
}

.parent {
    visibility: hidden;
    opacity:0;
    width: 700px;
    height: 350px;
    border: 2px solid #063852;
    margin: 30px auto;
    padding: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #efdab1; 
}

.visible{
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
    width: 700px;
    height: 350px;
    border: 2px solid #063852;
    margin: 30px auto;
    padding: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #efdab1; 
}

.overlay{
    width: 700px;
    height: 350px;
    transition: opacity 2s linear;
    border: 2px solid #063852;
    margin: 30px auto;
    padding: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.5);
}

h1 {
    color: #063852;
    text-align: center;
    margin: 100px auto 10px auto;
}

form {
    text-align: center;
    margin: 0 auto;
}

#toma-name {
    font-family: inherit;
    font-size: 85%;
    background-color: #c6e2ff;
    color: #063852;
    border-radius: 10px;
}

#start {
    font-family: inherit;
    font-size: 85%;
    background-color: #063852;
    color: #c6e2ff;
    border-radius: 10px;
}

.name {
    color: #063852;
    display: flex;
    justify-content: flex-end;

}

.ripStart {
    width: 700px;
    height: 350px;
    border: 2px solid #063852;
    margin: 30px auto;
    padding: 35px;
    display: none;
    text-align: center;
    background-color: rgb(151,189,225);
}
.rip {
    width: 700px;
    height: 350px;
    border: 2px solid #063852;
    margin: 30px auto;
    padding: 35px;
    display: block;
    text-align: center;
    background-color: rgb(151,189,225);
}
}
#age {
    color: #063852;
    font-size: px;
}

h4 {
    margin: 10px 0;
}

@keyframes pulseGreen {
    0% { 
        color: #00ff00;
        opacity: 1;
    }
    25% { 
        color: #00ff00;
        opacity: 0.5;
    }
    50% {
        color: #00ff00;
        opacity: 1;
    }
    75% { 
        color: #00ff00;
        opacity: 0.4;
    }
    100% {
        color: #efdab1;
        opacity: 0.5
    }
}


@keyframes pulseRed {
    0% { 
        color: #ff4949;
        opacity: 1;
    }
    25% { 
        color: #ff4949;
        opacity: 0.5;
    }
    50% {
        color: #ff4949;
        opacity: 1;
    }
    75% { 
        color: #ff4949;
        opacity: 0.4;
    }
    100% {
        color: #efdab1;
        opacity: 0.5
    }
}

@keyframes backgroundRed{
    0% { 
        background-color: #ff4949;
        opacity: 0.3;
    }
    50% { 
        background-color: #ff4949;
        opacity: 0.5;
    }
    100% {
        background-color: #ff4949;
        opacity: 0.8;
    }
}

@keyframes pulseBigToSmall {
    0% { 
        font-size: 35px;
        color: #063852;
    }
    50% { 
        font-size: 40px;
        color: #bcd7ff;
    }
    100% {
        font-size: 35px;
        color: #063852;
    }
}

@keyframes whiteout {
    0% { 
        
        opacity: 1;
    }
    25% {
        opacity: 0.8;
    }
    50% { 
        opacity: 0.5;
    }
    75%{
        opacity: 0.3;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadein {
    0% { 
        opacity: 0;
    }
    25% {
        opacity: 0.3;
    }
    50% { 
        opacity: 0.5;
    }
    75%{
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

button {
    margin: 7px;
    padding: 7px 10px;
    color: #063852;
    background-color: #bcd7ff;
    border: 3px solid blanchedalmond;
    font-family: inherit;
}

#first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 110px;
    height: 200px;
    padding: 75px 10px;
    color: blanchedalmond;
    background-color: #063852;
}

#second {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#third {
    display: flex;
    align-items: flex-start;
    flex-direction: column;     
    justify-content: space-between;
}

#comment-box {
    width: 150px;
    height: 125px;
    background-color: blanchedalmond;
    padding: 10px;
}

p {
    font-size: 15px;
    color: #063852;
}

.try-again {
    margin: 7px;
    padding: 7px 10px;
    font-size: 30px;
    color: #063852;
}
